p {
    border-style: solid;
}

.calculator {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.calculator .display {
    display: flex;
    justify-content: center;
    height: 60px;
    width: 200px;
}

.row1 {
    display: flex;
}

.row2 {
    display: flex;
}

.row3 {
    display: flex;
}

.row4 {
    display: flex;
    justify-content: right;
}